@charset "utf-8";
/* CSS Document */




body {
  
  
	min-height:600px;
	background-position: center;
	background-image: url("../img/books2.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	text-align:center;
	text:bold;
	
}

#wrapper{

	
}

#cartTable{
//min-height:300px;
background-color:#0F0;
margin-left:auto;
width:400px;
margin-right:auto;
height:auto;




	
}